<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, web ui kit, dashboard template, admin template">

	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<title>Manage.in | All Orders</title>

	<link href="/css/app.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
                    <span class="align-middle">Manage.in</span>
                </a>
				<ul class="sidebar-nav">
					<li class="sidebar-header">
						
					</li>
					<li class="sidebar-item ">
						<a class="sidebar-link" href="/users/dashboard">
                            <i class="align-middle" data-feather="star"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
						<a class="sidebar-link" href="/items/additem">
                            <i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Add Item</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
						<a class="sidebar-link" href="/items/allitems">
                            <i class="align-middle" data-feather="bookmark"></i> <span class="align-middle">All Items</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
						<a class="sidebar-link" href="/orders/addorder">
                            <i class="align-middle" data-feather="plus-circle"></i> <span class="align-middle">Add Order</span>
                        </a>
                    </li>
					<li class="sidebar-item active" >
						<a class="sidebar-link" href="/orders/allorders">
                            <i class="align-middle" data-feather="bookmark"></i> <span class="align-middle">My Orders</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
						<a class="sidebar-link" href="/priority/shelving">
                            <i class="align-middle" data-feather="link"></i> <span class="align-middle">Re-Shelving Suggestions</span>
                        </a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/users/settings">
                            <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
                        </a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/logout">
                            <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Logout</span>
                        </a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex">
                    <i class="hamburger align-self-center"></i>
                </a>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>
                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                               <span class="text-dark"><%= user.email %></span>
                              </a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="/user/profile"><i class="align-middle mr-1" data-feather="user"></i> Profile</a>
								<!-- <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="pie-chart"></i> Analytics</a> -->
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/users/settings"><i class="align-middle mr-1" data-feather="settings"></i> Settings & Privacy</a>
								<a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="help-circle"></i> Help Center</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
            
            <main class="content">
				<div class="container-fluid p-0">
					<h1 class="h3 mb-3">All Orders</h1>
					<div class="row">
                        <% for (i=0;i<orders.length ;i ++) { %>
						
						<div class="col-12 col-md-6 col-lg-4">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0"><%- orders[i].name %></h5>
								</div>
								<div class="card-body">
                                    <p class="card-text">Total (in Rs): <%- orders[i].total %></p>
									<a href="/orders/vieworder/<%- orders[i]._id %>" class="card-link btn btn-success">View</a>
                                    <button type="button"class=" btn btn-danger" data-toggle="modal" data-target="#centeredModalDanger">Delete</a>      
                                </div>
                            </div>
                            <div class="modal fade" id="centeredModalDanger" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Warning</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body m-3">
                                            <p class="mb-0">Are you sure you want to delete this item? There is no way to retrieve it later.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form action="/orders/deleteorder/<%- orders[i]._id %>" method="POST">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
					</div>
				</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left">
							<p class="mb-0">
								<a href="/" class="text-muted"><strong>Manage.in</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-right">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	
	<script src="../js/vendor.js"></script>
	<script src="../js/app.js"></script>

</body>
</html>